<!-- Awards-->
<template>
  <section class="row">
    <div class="col">
      <h2 class="mb-5">Awards & Certifications</h2>
      <ul class="fa-ul mb-0 awards">
         <li class="slide-in h4 p-3 first-bg m-2 rounded shadow">
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          Pinnacle Performer - Loyalytics.AI - Q1, 2023
        </li>
        <li class="slide-in h4 p-3 first-bg m-2 rounded shadow">
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          Star Performer - LiftoffLLC - Month of April, 2021
        </li>
        <li class="slide-in h4 p-3 second-bg m-2 rounded shadow">
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          2
          <sup>nd</sup>
          Place - GUVI - Hackathon May 18, 2020
        </li>
        <li class="slide-in h4 p-3 third-bg m-2 rounded shadow">
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          3
          <sup>rd</sup>
          Place - GUVI - Hackathon June 23, 2020
        </li>
        <li class="slide-in h4 p-3 first-bg m-2 rounded shadow">
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          1
          <sup>st</sup>
          District Level U-19 Chess Championship , 2012
        </li>
        <li class="slide-in h4 p-3 second-bg m-2 rounded shadow">
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          2
          <sup>nd</sup>
          District Level U-16 Chess Championship , 2011
        </li>
      </ul>
    </div>
  </section>
</template>
