<!-- contact -->
<template>
  <div class="row">
    <div class="col text-center">
      <h2 style="margin: 1em" class="purple-outline shadow-lg rounded">
        Contact me : +91-9488835026
      </h2>
      <h5 style="margin: 1em">OR</h5>
      <h2 style="margin: 1em" class="purple-outline shadow-lg rounded">
        Mail me@: johnfrancis95815@gmail.com
      </h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      <h2 style="margin: 1em">More ways to follow me:</h2>
      <div class="social-icons">
        <div class="social-icon btn pop-in" id="linkedin-profile">
          <i class="fab fa-linkedin-in"></i>
        </div>
        <div class="social-icon btn pop-in" id="github-profile">
          <i class="fab fa-github"></i>
        </div>
        <div class="social-icon btn pop-in" id="gmail-send">
          <i class="far fa-envelope"></i>
        </div>
        <div class="social-icon btn pop-in" id="fb-profile">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="social-icon btn pop-in" id="ig-profile">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
  <script>
    socialIconListners();
  </script>
</template>
