<!-- experience -->
<template>
  <div class="row slide-in">
    <div class="col">
      <div
        class="d-flex flex-column flex-md-row justify-content-between mb-5 bg-light p-5 rounded shadow"
      >
        <div class="flex-grow-1">
          <h1 class="mb-0 dark-cl" style="font-weight: bold">
            Data Engineer
          </h1>
          <h3 class="mb-3 dark-cl">Loyalytics.AI , Banglore.</h3>
          <p class="dark-cl">
            Worked in the core developement team of the following projects
          </p>
          <ul>
            <li>
              <span
                ><a href="https://en.wikipedia.org/wiki/Panda_Retail_Company" target="_blank"
                  >Panda Retail</a
                >
                -Panda Retail Company is a Saudi Arabian grocery retailing company</span
              >
              <p>
                Worked as Lead Data Engineer in setting up ETL for multiple datasources 
                and setting up a robust datalake architechure
              </p>
            </li>
            <li>
              <span
                ><a href="https://www.linkedin.com/company/urban-foods-llc/?trk=public_profile_experience-item_profile-section-card_image-click&originalSubdomain=in/" target="_blank"
                  >Urban Foods LLC</a
                >
                - Urban Foods LLC is hypermarket business chain accross UAE</span
              >
              <p>
                Worked as Lead Data Engineer in setting up ETL for multiple datasources 
                and setting up a robust datalake architechure
              </p>
            </li>
            <li>
              <span
                ><a href="https://en.wikipedia.org/wiki/LuLu_Group_International" target="_blank"
                  >LuLu Group International</a
                >
                - LuLu Group International is an Indian Emirati-based multinational conglomerate company that operates a chain of hypermarkets</span
              >
              <p>
                Worked as Data Engineer in setting up ETL for unstructured retail business data 
                and setting up a robust datalake architechure
              </p>
            </li>
            <li>
              <span
                ><a href="https://www.loyalytics.ai/" target="_blank"
                  >Swan AI</a
                >
                - Swan AI is a product offered by Loyalytics AI for automated customer analytics and dashboards</span
              >
              <p>
                Worked as Lead Data Engineer in setting up ETL for unstructured retail business data of all clients of Loyalytics
                and setting up a robust datalake architechure with DLT tecnology.
              </p>
            </li>
            <li>
              <span
                ><a href="https://www.cenomigroup.com/en/who-we-are/" target="_blank"
                  >Cenomin</a
                >
                - Cenomi is Saudi Arabia's largest fully integrated retail and shopping center organization</span
              >
              <p>
                Worked as Data Engineer in setting up ETL for multiple datasources 
                and setting up a robust datalake architechure with DLT tecnology.
              </p>
            </li>
          </ul>
        </div>
        <div class="flex-shrink-0">
          <h3 class="text-primary blue-cl">August,2022 - Present</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row slide-in">
    <div class="col">
      <div
        class="d-flex flex-column flex-md-row justify-content-between mb-5 bg-light p-5 rounded shadow"
      >
        <div class="flex-grow-1">
          <h1 class="mb-0 dark-cl" style="font-weight: bold">
            Software Engineer
          </h1>
          <h3 class="mb-3 dark-cl">LiftoffLLC , Banglore.</h3>
          <p class="dark-cl">
            Worked in the core developement team of the following projects
          </p>
          <ul>
            <li>
              <span
                ><a href="https://www.okayhumans.com/" target="_blank"
                  >OkayHumans.com</a
                >
                - A mental healthcare business</span
              >
              <p>
                Worked in frontend web, backend development and deployment team.
              </p>
            </li>
            <li>
              <span
                ><a href="https://www.kicksnation.com/" target="_blank"
                  >KicksNation.com</a
                >
                - A personalised sneaker styling business</span
              >
              <p>
                Worked in development of new apis and features in the backend
                team.
              </p>
            </li>
            <li>
              <span
                ><a href="https://www.thinkingnation.org/" target="_blank"
                  >ThinkingNation.org</a
                >
                - A US based Ed-Tech business</span
              >
              <p>
                Managed the development of new apis and features in the backend
                team.
              </p>
            </li>
          </ul>
        </div>
        <div class="flex-shrink-0">
          <h3 class="text-primary blue-cl">September,2020 - September,2021</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row slide-in">
    <div class="col">
      <div
        class="d-flex flex-column flex-md-row justify-content-between mb-5 bg-light p-5 rounded shadow"
      >
        <div class="flex-grow-1">
          <h1 class="mb-0 dark-cl" style="font-weight: bold">
            Web Developement Intern
          </h1>
          <h3 class="mb-3 dark-cl">GUVI , Chennai.</h3>
          <p class="dark-cl">
            Developing responsive webpages using jQuery and bootstrap and
            connecting to SQL database .
          </p>
        </div>
        <div class="flex-shrink-0">
          <h3 class="text-primary blue-cl">April,2020 - Present</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row slide-in">
    <div class="col">
      <div
        class="d-flex flex-column flex-md-row justify-content-between mb-5 bg-light p-5 rounded shadow"
      >
        <div class="flex-grow-1">
          <h1 class="mb-0 dark-cl" style="font-weight: bold">
            Quality Control Inspector
          </h1>
          <h3 class="mb-3 dark-cl" style="word-wrap: break-word">
            Aquasub Engineering(TEXMO/AQUATEX)
          </h3>
          <p class="dark-cl">
            Quality Inspection On-Site Supplier-End and In-House Quality
            Control.
          </p>
        </div>
        <div class="flex-shrink-0 blue-cl">
          <h3 class="text-primary">April,2018 - March,2019</h3>
        </div>
      </div>
    </div>
  </div>
</template>
