<!-- projects -->
<template>
  <div class="row px-5">
    <div class="col">
      <button
        class="btn purple-grad-bg light-cl pop-in m-1"
        type="button"
        onclick="showAllProj()"
      >
        All
      </button>
      <button
        class="btn purple-grad-bg light-cl pop-in m-1"
        type="button"
        onclick="showDS()"
      >
        Data Science
      </button>
      <button
        class="btn purple-grad-bg light-cl pop-in m-1"
        type="button"
        onclick="showFS()"
      >
        Full Stack
      </button>
      <button
        class="btn purple-grad-bg light-cl pop-in m-1"
        type="button"
        onclick="showFE()"
      >
        Front End
      </button>
      <button
        class="btn purple-grad-bg light-cl pop-in m-1"
        type="button"
        onclick="showOT()"
      >
        UI/Other
      </button>
      <button
        class="btn purple-grad-bg light-cl pop-in m-1"
        type="button"
        onclick="showAnd()"
      >
        Android
      </button>
    </div>
  </div>
  <div class="row p-md-5">
    <div class="col-md-6 mb-3 pop-in proj ds">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/us_hpi_ml.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">U.S. House Price Index Forecasting</h4>
          <p class="card-text">A Deep Learning Prediction App</p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px; flex-wrap: wrap">
            <img
              src="./resources/icons/tensorflow.png"
              alt="tensorflow"
              class="tec-small"
            />
            <img
              src="./resources/icons/streamlit.png"
              alt="streamlit"
              class="tec-small"
            />
            <img
              src="./resources/icons/pandas.png"
              alt="pandas"
              class="tec-small"
            />
            <img
              src="./resources/icons/python.png"
              alt="python"
              class="tec-small"
            />
            <img
              src="./resources/icons/seaborn.png"
              alt="seaborn"
              class="tec-small"
            />
            <img
              src="./resources/icons/numpy.png"
              alt="numpy"
              class="tec-small"
            />
          </div>
          <a
            href="https://ushpiforecasting-zxq7cgzcckucwluhyf2vyf.streamlit.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/us_hpi_forecasting"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ds">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/phone_pe.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">PhonePe Metrics Forecasting</h4>
          <p class="card-text">A Machine Learning Prediction App</p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px; flex-wrap: wrap">
            <img
              src="./resources/icons/streamlit.png"
              alt="streamlit"
              class="tec-small"
            />
            <img
              src="./resources/icons/pandas.png"
              alt="pandas"
              class="tec-small"
            />
            <img
              src="./resources/icons/python.png"
              alt="python"
              class="tec-small"
            />
            <img
              src="./resources/icons/seaborn.png"
              alt="seaborn"
              class="tec-small"
            />
            <img
              src="./resources/icons/numpy.png"
              alt="numpy"
              class="tec-small"
            />
          </div>
          <a
            href="https://phonepe-ml-fdyxna3xzpbaazrtj2a3db.streamlit.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/phonepe-ML"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ds">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/item_sales_ml.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Sales Demand Forecasting</h4>
          <p class="card-text">A Machine Learning Prediction App</p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px; flex-wrap: wrap">
            <img
              src="./resources/icons/streamlit.png"
              alt="streamlit"
              class="tec-small"
            />
            <img
              src="./resources/icons/pandas.png"
              alt="pandas"
              class="tec-small"
            />
            <img
              src="./resources/icons/python.png"
              alt="python"
              class="tec-small"
            />
            <img
              src="./resources/icons/seaborn.png"
              alt="seaborn"
              class="tec-small"
            />
            <img
              src="./resources/icons/sklearn.png"
              alt="sklearn"
              class="tec-small"
            />
            <img
              src="./resources/icons/numpy.png"
              alt="numpy"
              class="tec-small"
            />
          </div>
          <a
            href="https://salesdemandforecasting-rvabdivjvh3x9ddv8ftcp4.streamlit.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/sales_demand_forecasting"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ds">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/chennai_hp_ml.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Chennai House Price</h4>
          <p class="card-text">A Machine Learning Prediction App</p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px; flex-wrap: wrap">
            <img
              src="./resources/icons/flask.png"
              alt="flask"
              class="tec-small"
            />
            <img
              src="./resources/icons/pandas.png"
              alt="pandas"
              class="tec-small"
            />
            <img
              src="./resources/icons/python.png"
              alt="python"
              class="tec-small"
            />
            <img
              src="./resources/icons/seaborn.png"
              alt="seaborn"
              class="tec-small"
            />
            <img
              src="./resources/icons/sklearn.png"
              alt="sklearn"
              class="tec-small"
            />
            <img
              src="./resources/icons/heroku.png"
              alt="heroku"
              class="tec-small"
            />
          </div>
          <a
            href="https://chennai-house-price.onrender.com/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/chennai_housing_price_ML"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ot and">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/space_surf.PNG"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">SpaceSurf Game</h4>
          <p class="card-text">
            A Casual Android Game developed in Unity3D and C#
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px; flex-wrap: wrap">
            <img
              src="./resources/icons/unity.png"
              alt="unity"
              class="tec-small"
            />
            <img
              src="./resources/icons/blender.png"
              alt="blender"
              class="tec-small"
            />
            <img src="./resources/icons/ps.png" alt="ps" class="tec-small" />
            <img
              src="./resources/icons/csharp.png"
              alt="csharp"
              class="tec-small"
            />
            <img
              src="./resources/icons/android.png"
              alt="android"
              class="tec-small"
            />
          </div>
          <a
            href="https://play.google.com/store/apps/details?id=com.PicellPlay.SpaceSurf&hl=en"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3 pop-in proj fs">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/search_engine.PNG"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Search Engine</h4>
          <p class="card-text">
            A simple search engine using mongodb , node.js and angular
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/angular.png"
              alt="angular"
              class="tec-small"
            />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
            <img
              src="./resources/icons/nodejs.png"
              alt="nodejs"
              class="tec-small"
            />
            <img
              src="./resources/icons/mongo_other.png"
              alt="mongodb"
              class="tec-small"
            />
            <img
              src="./resources/icons/heroku.png"
              alt="heroku"
              class="tec-small"
            />
          </div>
          <a
            href="https://searchengine-application.netlify.app"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >

          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/searchEngine-frontEnd"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>Front End Code</a
            >
            <a
              href="https://github.com/cpt-John/searchEngine-backEnd"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>Back End Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fs">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/videocall.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Video Conference app</h4>
          <p class="card-text">
            A video conferencing and chat app using socket io and Web RTC
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
            <img
              src="./resources/icons/nodejs.png"
              alt="nodejs"
              class="tec-small"
            />
            <img
              src="./resources/icons/wrtc.png"
              alt="wrtc"
              class="tec-small"
            />
            <img
              src="./resources/icons/heroku.png"
              alt="heroku"
              class="tec-small"
            />
          </div>
          <a
            href="https://videocall-webrtc.onrender.com/createRoom"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/videocall-webrtc"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fs">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/url_shortner.PNG"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">URL Shortner</h4>
          <p class="card-text">
            A url shortner app with register,login-logout features
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/angular.png"
              alt="angular"
              class="tec-small"
            />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
            <img
              src="./resources/icons/nodejs.png"
              alt="nodejs"
              class="tec-small"
            />
            <img
              src="./resources/icons/mongo_other.png"
              alt="mongodb"
              class="tec-small"
            />
            <img
              src="./resources/icons/heroku.png"
              alt="heroku"
              class="tec-small"
            />
          </div>
          <a
            href="https://urlshortner-frontend-johnfrancis.netlify.app"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/urlshortner-frontend"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>Front End Code</a
            >
            <a
              href="https://github.com/cpt-John/urlshortner-backend"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>Back End Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fe">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/covid.PNG"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Covid19 Visualizer</h4>
          <p class="card-text">
            A covid19 visualizer for India using interactive charts
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/angular.png"
              alt="angular"
              class="tec-small"
            />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
          </div>
          <a
            href="https://covid19-visualizer-johnfrancis.netlify.app"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/covid19-visualizer-johnfrancis"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fs">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/crm.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">CRM App</h4>
          <p class="card-text">
            A Customer Relation Management app to maintain records of users
            contacts and leads with role access
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/angular.png"
              alt="angular"
              class="tec-small"
            />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
            <img
              src="./resources/icons/nodejs.png"
              alt="nodejs"
              class="tec-small"
            />
            <img
              src="./resources/icons/mongo_other.png"
              alt="mongodb"
              class="tec-small"
            />
            <img
              src="./resources/icons/heroku.png"
              alt="heroku"
              class="tec-small"
            />
          </div>
          <a
            href="https://crm-app-john.netlify.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/CRM-frontend"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>Front End Code</a
            >
            <a
              href="https://github.com/cpt-John/CRM-api"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>Back End Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fe">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/freshdesk.PNG"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">FreshDesk Api</h4>
          <p class="card-text">
            A FreshDesk App using Freshdesk Api using http methods
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
          </div>
          <a
            href="https://xenodochial-newton-7f6ecd.netlify.app/login.html"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/FreahDesk_UI"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fs">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/clubsapp.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Club Manager</h4>
          <p class="card-text">
            A simple Club data management using mysql and flask
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
            <img
              src="./resources/icons/python.png"
              alt="python"
              class="tec-small"
            />
            <img
              src="./resources/icons/mysql.png"
              alt="mysql"
              class="tec-small"
            />
            <img
              src="./resources/icons/jinja.png"
              alt="jinja"
              class="tec-small"
            />
            <img
              src="./resources/icons/flask.png"
              alt="flask"
              class="tec-small"
            />
            <img
              src="./resources/icons/heroku.png"
              alt="heroku"
              class="tec-small"
            />
          </div>
          <a
            href="https://clubs-app-john.herokuapp.com/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/Clubs-app-flask"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fe">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/nyt.PNG"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">NewYorkTimes Api</h4>
          <p class="card-text">A NYT top stories App using nyt Api</p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
          </div>
          <a
            href="https://zealous-perlman-fdb689.netlify.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/top-stories-nyt-api"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj fe">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/countries.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Country Weather</h4>
          <p class="card-text">
            A REST countries implementation with Open weather api
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
            <img
              src="./resources/icons/html.png"
              alt="html"
              class="tec-small"
            />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
          </div>
          <a
            href="https://infallible-thompson-02c569.netlify.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/rest-countries-weather"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ot">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/npm.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Lodash Npm Pakage</h4>
          <p class="card-text">
            A simple npm Lodash pakage with few Lodash functions uploaded to npm
            repository
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
          </div>
          <a
            href="https://www.npmjs.com/package/@johnfrancis/lodash"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Npm</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/lodash_sample"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ot and">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/Native_toDo.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">React Native ToDo</h4>
          <p class="card-text">
            A simple react native app using Async Storage.
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/react.png"
              alt="react"
              class="tec-small"
            />
          </div>
          <a
            href="https://github.com/cpt-John/React-Native-ToDoApp/releases"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >Download Android Build</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/React-Native-ToDoApp"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ot">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/reactJStoDo.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">ReactJS ToDo</h4>
          <p class="card-text">
            A simple reactJS ToDo App Built using ReactJS library and HTML and
            loads from local storage
          </p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/react.png"
              alt="react"
              class="tec-small"
            />
            <img
              src="./resources/icons/html.png"
              alt="html"
              class="tec-small"
            />
            <img src="./resources/icons/css.png" alt="css" class="tec-small" />
            <img
              src="./resources/icons/bootstrap.png"
              alt="bootstrap"
              class="tec-small"
            />
          </div>
          <a
            href="https://cocky-euclid-90bb24.netlify.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/ReactJS-ToDo"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ot">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/tic-tac.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Tic-Tac-Toe</h4>
          <p class="card-text">A simple Tic-Tac-Toe game</p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/html.png"
              alt="html"
              class="tec-small"
            />
            <img src="./resources/icons/css.png" alt="css" class="tec-small" />
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
          </div>
          <a
            href="https://zealous-blackwell-5b9833.netlify.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/tic-tac-toe"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 pop-in proj ot">
      <div
        class="card p-3 light-bg shadow-lg placeholder_1"
        style="height: 100%"
      >
        <img
          class="card-img-top"
          src="./resources/imgs/cricket.png"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column pb-0">
          <h4 class="card-title">Click-Cricket</h4>
          <p class="card-text">A Fun two Player Cricket Game</p>
          <h4>Tech stack :</h4>
          <div style="display: flex; padding-bottom: 7px">
            <img
              src="./resources/icons/html.png"
              alt="html"
              class="tec-small"
            />
            <img src="./resources/icons/css.png" alt="css" class="tec-small" />
            <img src="./resources/icons/js.png" alt="js" class="tec-small" />
            <img src="./resources/icons/ts.png" alt="ts" class="tec-small" />
          </div>
          <a
            href="https://wonderful-bassi-91ac6c.netlify.app/"
            class="btn blue-bg light-cl mt-auto"
            target="_blank"
            >View Project</a
          >
          <div class="d-flex justify-content-around mt-1">
            <a
              href="https://github.com/cpt-John/click-cricket"
              class="btn dark-bg light-cl mt-auto"
              target="_blank"
              ><i class="fab fa-github"></i>View Code</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
